body{
    background-color: darksalmon;
    margin: 0;

}
img{
    width: 300px;
    transition: 1s;
    margin: 10px;
}
img:hover{
    width: 400px;
    margin: 0;
}
.kepek{
    display: flex;
    justify-content: center;
}

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:greenyellow;
        color: rgb(56, 13, 26);
        text-align: center;
        font-size: large;
      } 

p{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}
.sidebar {
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b32e4f;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: greenyellow;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #66043d;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(56, 13, 26);
    color: greenyellow;
  }
  
  div.content {
    font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Old Standard TT', serif;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
